/public/
/resources/
.hugo_build.lock
.venv/
.DS_Store
.DS_Store
content/.DS_Store
.DS_Store
content/posts/.DS_Store
content/posts/.obsidian/app.json
content/posts/.obsidian/appearance.json
content/posts/.obsidian/core-plugins.json
content/posts/.obsidian/workspace.json
/.obsidian
content/.DS_Store
content/posts/.DS_Store
.DS_Store
content/posts/.DS_Store
/notebooks/.ipynb_checkpoints
*.pyc
/notebooks/pyaging_data
notebooks/weekly.log
notebooks/garmindb.log
/notebooks/images
.DS_Store
